# Ignorar entorno virtual
venv/
mock-api/venv/

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Archivos y carpetas del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# Archivos de configuración de editor
*.vscode/

# Archivos de salida de compilación
*.egg-info/
